<footer class="footer">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://www.kuzambeu.co.zw">
                        KuzaMbeu
                    </a>
                </li>
                <li>
                    <a href="/about">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="/privacy">
                        Privacy
                    </a>
                </li>
                <li>
                    <a href="/license">
                        License
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            © Kuza
            <script>
                document.write(new Date().getFullYear().toString())
            </script>
            , by
            <a href="https://diggle.tech/studios" target="_blank">Diggle Studios</a>.
        </div>
    </div>
</footer>

