<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Make your meal</h4>
                        <p class="card-category">Use the wizard to choose the perfect meal for yourself.</p>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-pills nav-pills-icons mr-auto ml-auto" role="tablist">
                            <!--
                                color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                            -->
                            <li class="nav-item">
                                <a class="nav-link active" href="#main" role="tab" data-toggle="tab">
                                    Main
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#relish" role="tab" data-toggle="tab">
                                    Relish
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#vegetable" role="tab" data-toggle="tab">
                                    Vegetables
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#extras" role="tab" data-toggle="tab">
                                    Extras
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content tab-space">
                            <div class="tab-pane active" id="main">
                                <div class="row">
                                    <div *ngFor="let item of mainItems | async" class="col-md-3 ml-auto mr-auto">
                                        <div class="card card-pricing text-center bg-success">
                                            <div class="card-body ">
                                                <h3 class="card-title">{{item.name}}
                                                    <span *ngIf="item.price && item.price!=0"> - {{item.price | currency}}</span>
                                                </h3>
                                                <p class="card-description">
                                                    Something solid to get you through your day.
                                                </p>
                                                <button class="btn btn-white btn-round" (click)="addMain(item)">Choose
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="relish">
                                <div class="row">
                                    <div *ngFor="let item of relishItems" class="col-md-3 ml-auto mr-auto">
                                        <div class="card card-pricing text-center bg-success">
                                            <div class="card-body ">
                                                <h3 class="card-title">{{item.name}}
                                                    <span *ngIf="item.price && item.price!=0"> - {{item.price | currency}}</span>
                                                </h3>
                                                <p class="card-description">
                                                    Something solid to get you through your day.
                                                </p>
                                                <button class="btn btn-white btn-round" (click)="addRelish(item)">
                                                    Choose
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="vegetable">
                                <div class="row">
                                    <div *ngFor="let item of vegetableItems" class="col-md-3 ml-auto mr-auto">
                                        <div class="card card-pricing text-center bg-success">
                                            <div class="card-body ">
                                                <h3 class="card-title">{{item.name}}
                                                    <span *ngIf="item.price && item.price!=0"> - {{item.price | currency}}</span>
                                                </h3>
                                                <p *ngIf="!item.description" class="card-description">
                                                    Add some vegetables, maybe for your health or just for the
                                                    tastebuds.
                                                </p>
                                                <p *ngIf="!!item.description" class="card-description">
                                                    {{item.description}}</p>
                                                <button class="btn btn-white btn-round" (click)="addVegetables(item)">
                                                    Choose
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="extras">
                                <div class="row">
                                    <div *ngFor="let item of extrasItems" class="col-md-3 ml-auto mr-auto">
                                        <div class="card card-pricing text-center bg-success">
                                            <div class="card-body ">
                                                <h3 class="card-title">{{item.name}}
                                                    <span *ngIf="item.price && item.price!=0"> - {{item.price | currency}}</span>
                                                </h3>
                                                <p class="card-description">
                                                    A refreshing drink to wash down your meals.
                                                </p>
                                                <button class="btn btn-white btn-round" (click)="addExtra(item)">Add
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card">
                    <div class="card-body">

                        <h3 *ngIf="meal.main">
                            You have chosen<span> {{meal.main.name}}</span>
                            <span *ngIf="meal.relish"> and {{meal.relish.name}}</span>
                            <span *ngIf="meal.vegetable"> with {{meal.vegetable.name}}</span>.
                        </h3>

                        <h3 *ngIf="!meal.main && meal.relish">
                            You have chosen <span>{{meal.relish.name}}</span>
                            <span *ngIf="meal.vegetable"> with {{meal.vegetable.name}}</span>.
                        </h3>

                        <h3 *ngIf="!meal.main && !meal.relish && meal.vegetable">
                            You have only want <span>{{meal.vegetable.name}}</span>.
                        </h3>

                        <h4 *ngIf="meal.extras.length>0">Your extras:
                            <button class="btn btn-social btn-link btn-info"
                                    *ngFor="let extra of meal.extras"
                                    (click)="removeExtra(extra)">{{extra.name}}
                                <i class="material-icons">close</i>
                            </button>
                        </h4>
                        <h2 class="total text-left">Total: {{calculateTotal() | currency}}
                            <button class="btn btn-primary"
                                    (click)="placeOrder()">Order
                            </button>
                        </h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>