<div class="wrapper wrapper-full-page">
    <div class="page-header register-page header-filter" filter-color="black"
         style="background-image: url('./assets/img/register.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-signup"><h2 class="card-title text-center">Register</h2>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-rose"><i class="material-icons">fastfood</i></div>
                                        <div class="description"><h4 class="info-title">Order lunch remotely</h4>
                                            <p class="description"> Buy your <em>custom</em> food before you even get
                                                there. Just collect on arrival</p></div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-primary"><i class="material-icons">home</i></div>
                                        <div class="description"><h4 class="info-title">Find Accommodation</h4>
                                            <p class="description"> Find your next home from wherever you are. We work
                                                with most house owners around. Easily pick the perfect home</p></div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info"><i class="material-icons">attach_money</i></div>
                                        <div class="description"><h4 class="info-title">Save</h4>
                                            <p class="description"> We have the lowest prices around. What's more, you
                                                can compare before you buy </p></div>
                                    </div>
                                </div>
                                <div class="col-md-5 mr-auto">
                                    <div class="social text-center">

                                        <!--<button (click)="login('Twitter')"-->
                                                <!--class="btn btn-just-icon btn-round btn-twitter mat-raised-button"-->
                                                <!--mat-raised-button=""><span class="mat-button-wrapper"><i-->
                                                <!--class="fa fa-twitter"></i></span>-->
                                            <!--<div class="mat-button-ripple mat-ripple" matripple=""></div>-->
                                            <!--<div class="mat-button-focus-overlay"></div>-->
                                        <!--</button>-->
                                        <button (click)="login('Google')"
                                                class="btn btn-just-icon btn-round btn-dribbble mat-raised-button"
                                                mat-raised-button=""><span class="mat-button-wrapper"><i
                                                class="fa fa-google-plus"></i></span>
                                            <div class="mat-button-ripple mat-ripple" matripple=""></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </button>
                                        <button (click)="login('Facebook')"
                                                class="btn btn-just-icon btn-round btn-facebook mat-raised-button"
                                                mat-raised-button=""><span class="mat-button-wrapper"><i
                                                class="fa fa-facebook"></i></span>
                                            <div class="mat-button-ripple mat-ripple" matripple=""></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </button>
                                        <h4 class="mt-3"> or be classical </h4></div>
                                    <form action="" class="form ng-untouched ng-pristine ng-valid" method=""
                                          novalidate="" #register="ngForm" (ngSubmit)="signUpWithEmail(register.value)">
                                        <div class="form-group has-default">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i
                                                        class="material-icons">face</i></span></div>
                                                <input class="form-control" name="name" placeholder="Full Name..."
                                                       type="text" required="required" ngModel>
                                            </div>
                                        </div>
                                        <div class="form-group has-default">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i
                                                        class="material-icons">mail</i></span></div>
                                                <input name="email" class="form-control" placeholder="Email..."
                                                       type="email" required="required" ngModel>
                                            </div>
                                        </div>
                                        <div class="form-group has-default">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i
                                                        class="material-icons">lock_outline</i></span></div>
                                                <input name="password" class="form-control" placeholder="Password..."
                                                       type="password" required="required" ngModel></div>
                                        </div>
                                        <div class="form-check"><label class="form-check-label">
                                            <input checked=""
                                                   class="form-check-input"
                                                   type="checkbox"
                                                   value=""><span
                                                class="form-check-sign"><span class="check"></span></span> I agree
                                            to the <a href="#terms">terms and conditions</a>. </label></div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-round mt-4">Get Started
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="float-left">
                    <ul>
                        <li>
                            <a href="https://www.kuzambeu.co.zw">
                                KuzaMbeu
                            </a>
                        </li>
                        <li>
                            <a href="/about">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="/privacy">
                                Privacy
                            </a>
                        </li>
                        <li>
                            <a href="/license">
                                License
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright float-right">
                    © 2018 Kuza by
                    <a href="https://diggle.tech/studios" target="_blank">Diggle Studios</a>.
                </div>
            </div>
        </footer>
    </div>
</div>
