<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">This is coming soon</h4>
            <p class="card-category">Mukutsvaka dzinhi iri? Hope hadzisi kubata tichirisota.</p>
          </div>
          <div class="card-body">
            <div class="">
              This page is coming soon.
            </div>
          </div>
          <div class="card-footer">
            <a href="//diggle.tech/studios">Diggle App Studios</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
