<div class="wrapper wrapper-full-page">

    <div class="page-header login-page header-filter" filter-color="black"
         style="background-image: url('/assets/img/register.jpg'); background-size: cover; background-position: top center;">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="container">
            <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
                <form class="form" method="" action="" #loginForm="ngForm"
                      (ngSubmit)="loginWithEmail(loginForm.value)">
                    <div class="card card-login">
                        <div class="card-header card-header-rose text-center">
                            <h4 class="card-title">Login</h4>
                            <div class="social-line">
                                <button (click)="login('Facebook')"
                                        class="btn btn-just-icon btn-link btn-white">
                                    <i class="fa fa-facebook-square"></i>
                                </button>
                                <!--<button (click)="login('Twitter')" class="btn btn-just-icon btn-link btn-white">-->
                                    <!--<i class="fa fa-twitter"></i>-->
                                <!--</button>-->
                                <button (click)="login('Google')" class="btn btn-just-icon btn-link btn-white">
                                    <i class="fa fa-google-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body ">
                            <p class="card-description text-center">Or Be Classical</p>
                            <span class="bmd-form-group"></span>
                            <span class="bmd-form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">email</i>
                  </span>
                </div>
                <input type="email" class="form-control" placeholder="Email..."
                       name="email" ngModel>
              </div>
            </span>
                            <span class="bmd-form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">lock_outline</i>
                  </span>
                </div>
                <input type="password" class="form-control" placeholder="Password..."
                       name="password" ngModel="">
              </div>
            </span>
                        </div>
                        <div class="card-footer justify-content-center">
                            <button class="btn btn-rose btn-round btn-lg"
                                    type="submit">Lets Go
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="float-left">
                    <ul>
                        <li>
                            <a href="https://www.kuzambeu.co.zw">
                                KuzaMbeu
                            </a>
                        </li>
                        <li>
                            <a href="/about">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="/privacy">
                                Privacy
                            </a>
                        </li>
                        <li>
                            <a href="/license">
                                License
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright float-right">
                    © 2018 Kuza by
                    <a href="https://diggle.tech/studios" target="_blank">Diggle Studios</a>.
                </div>
            </div>
        </footer>
    </div>


</div>
