<div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black"
         style="background-image: url('/assets/img/register.jpg'); background-size: cover; background-position: top center;">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="container">
            <div class="card bg-primary text-light">
                <div class="card-body">
                    <h1>Kuzambeu</h1>
                    <h2>Nature a seed</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 ml-auto mr-auto">
                    <div class="card card-pricing bg-primary">
                        <div class="card-body ">
                            <div class="card-icon">
                                <i class="material-icons">fastfood</i>
                            </div>
                            <h3 class="card-title">Campus Meals</h3>
                            <p class="card-description">
                                Order campus meals ahead of time. Order in bulk for discounts
                            </p>
                            <a href="/food" class="btn btn-success btn-raised btn-round">Order Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ml-auto mr-auto">
                    <div class="card card-pricing bg-primary">
                        <div class="card-body ">
                            <div class="card-icon">
                                <i class="material-icons">home</i>
                            </div>
                            <h3 class="card-title">Find Accommodation</h3>
                            <p class="card-description">
                                Find accommodation. Quickly compare different quotes
                            </p>
                            <a href="/accommodation" class="btn btn-success btn-raised btn-round">Houses</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ml-auto mr-auto">
                    <div class="card card-pricing bg-primary">
                        <div class="card-body ">
                            <div class="card-icon">
                                <i class="material-icons">business</i>
                            </div>
                            <h3 class="card-title">Campus Services</h3>
                            <p class="card-description">
                                Request campus services like transport, printing. Never miss a deadline again.
                            </p>
                            <a href="/services" class="btn btn-white btn-round">Coming soon!</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

